@inject MyDbContext dbContext
@{
    ViewData["Title"] = "What is Andon?";

        var language = dbContext.Settings!.Where(s => s.SettingName == "Language").Select(s => s.CurrentSetting).FirstOrDefault();
        var translations = dbContext.Localization
            .Select(l => new
            {
                l.Id,
                Text = language == "Translation" ? l.Translation : l.English
            })
            .ToList();
}



<div class="container"> 
    <span class="pageTitle">@translations.FirstOrDefault(t => t.Id == "WhatIsAndon")?.Text</span>
    <div class="row">
        <div class="col-md-6">

            <p>Andon is a popular tool used in Lean Manufacturing. It was originally pioneered by Toyota as a method to visualize problems, help create employee's awareness about targets and non-standard conditions, and promote leadership behavior. It is based on the Jidōka methodology in the Toyota Production system that encourages operators to recognize a deviation from the standard and stop work and call supervisors or support staff who can help solve the deviation. </p>
            <p>Most Japanese factories display a variation of the sign 「止める・呼ぶ・待つ」- Stop-Call-Wait to remind operators of this expected behavior. Andon is used to visualize problems, create awareness about targets and non-standard conditions, and promote leadership behavior.</p>
            <p>When a manufacturing line is stopped, Andon lights are turned on to signal the issue, which helps identify the specific location of the problem. This reduces waste, improves quality, and helps companies become more efficient. By implementing Andon, companies have experienced benefits such as reduced downtime, increased productivity, and improved communication among employees.</p>
        </div>
        <div class="col-md-6">
            <img src="~/Images/pkmjerei.jpeg" height="300" alt="Andon principle illustration" />
        </div>
    </div>
</div>